@font-face{
    src: url(src/TAKOYAKI.ttf);
    font-family: 'takoyaki';
    font-style: normal;
    font-weight 400;
}

* {
  list-style: none;
  text-decoration: none;
  font-family: 'takoyaki';
  color: black;
}

#main {
  background: url(./img/Background.jpg) center top no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2a436a;
  border-radius: 15px;
  padding: 10px;
  opacity: 90%;
}

#header__title {
  margin: 0px 40px;
  font-weight: bold;
  font-size: 48px;
}

#nav-list {
  display: flex;
}

.nav-item {
  margin: 0px 5px;
  font-size: 24px;
  font-weight: bold;
}

#spicy-noodles, #tradicional-noodles, #special-noodles{
    background: none;
    outline: none;
    font-size: 32px;
    border: none;
  }

.noodle-select:hover{
   color: #318a9f;
   border-bottom: 3px solid #d49962 !important;
}

#menu{
    display: flex;
    justify-content: space-around;
    display: none;
}

#menu tr, #menu tr td {
    font-size: 32px;
    width: 230px;
    text-align: center;
}

#th-1, #th-2, #th-3{
    background: #2a436a;
    color: #318a9f;
    border: 3px solid black;
}
#row-1 td {
    height: 400px;
}

#option1, #option2, #option3 {
    width: 230px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#footer{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background:#2a436a; 
    padding: 15px 0px;
    opacity: 90%;
    height: 100px;
}

