@font-face{
    src: url(src/TAKOYAKI.ttf);
    font-family: 'takoyaki';
    font-style: normal;
    font-weight 400;
}
* {
  list-style: none;
  text-decoration: none;
  font-family: 'takoyaki';
  color: black;
}



#main {
  background: url(./img/Background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ce3600;
  border-radius: 20px;
  padding: 10px;
  opacity: 90%;
}

#header__title {
  margin: 0px 40px;
  font-weight: bold;
  font-size: 48px;
}

#nav-list {
  display: flex;
}

.nav-item {
  margin: 0px 5px;
  font-size: 24px;
  font-weight: bold;
}

#spicy-noodles, #tradicional-noodles, #special-noodles{
    background: none;
    outline: none;
    stroke: none;
    border: none;
    font-size: 32px;
  }

.noodle-select:hover{
    color: blue;
}

#footer{
    font-size: 48px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: #ce3600;
    padding: 15px 0px;
    opacity: 90%;
}